@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-manrope: "Manrope", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #003c60;
  --color-primary-container: #005483;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #8ec8fd;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #41474f;
  --color-on-background: #191c1d;
  --color-background: #f8fafb;
  --color-surface-container-low: #f2f4f5;
  --color-outline-variant: #c1c7d0;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-on-secondary-container: #4f6576;
  --color-secondary: #4a6172;
  --color-secondary-container: #cbe3f6;
  --color-tertiary: #592e00;
  --color-tertiary-container: #7a4201;
  --color-surface-container-lowest: #ffffff;
  --color-surface: #f8fafb;
  --color-agenda-procedure: #6d4c41;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  .font-headline {
    font-family: var(--font-headline);
  }
}